<% def humanize secs
[[60, :seconds], [60, :minutes], [24, :hours], [1000, :days]].map{ |count, name|
  if secs > 0
    secs, n = secs.divmod(count)
    "#{n.to_i} #{name}"
  end
}.compact.reverse.join(' ')
end %>
<h1>Search Results</h1>
<%= link_to "Back",action:'index' %>
<h1>Songs</h1>
<%= render partial: 'playlist_select', locals: {results: @resultsName} %>

<h1>Artist</h1>
<%= render partial: 'playlist_select', locals: {results: @resultsArtist} %>

<h1>Genre</h1>
<%= render partial: 'playlist_select', locals: {results: @resultsGenre} %>
