/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   margin: 0;
   text-align: center;
 }

 /***** Navbar *****/

nav.navbar.navbar-default {
  border: none;
  background-color: #39444A;
  border-radius: 0;
  margin-bottom: 0;
}

ul.nav.navbar-nav.navbar-right a,
div.navbar-header a {
  padding: 20px 30px;
}

nav.navbar.navbar-default a {
  color: #fdfdfe;
}

nav.navbar.navbar-default a:hover {
  color: #ccc;
}


/***** Buttons *****/

.btn-primary,
.btn-primary:hover {
  color: #666; 
  background-color: transparent;
  border: none;
}
